.center-slider {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
  float: none;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.slider-root{
  width: 250px;
}
.slider-input{
  width: 42px;
}

.scale-logo {
  height: 28px;
  pointer-events: none;
}

.recipe-header {
  padding-top: 0.5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.Ingredient-header {
  padding-bottom:0.5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.Instruction-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.list-font {
  font-size: 14px;
}

.table-ingredients {
  align-items: center;
  font-size: 16px;
}

li {
  padding-top: 0.2cm;
}

.block {
  align-items: center;
  min-width: 650px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
  width: 60%;
  height: 100%;
  background-color: #edfaff;
  display: inline-block;
}



